doctype html
html(lang='en')
head
    title massculture.ca
    link(rel='stylesheet', href='./public/styles/style.css')
body
    .container#app
         header.main-header
            #logo
                h1.title Mass Culture
                nav.main-nav#site-nav
                // Comment
                ul
                    li 
                        a(href='https://massculture.ca') Welcome
                    li 
                        a(href='https://massculture.ca/about') About
                    li 
                        a(href='https://massculture.ca/network') Network
                    li
                        a(href='https://massculture.ca/gatherings') Gatherings
                    li 
                        a(href='https://massculture.ca/podcasts') Podcasts
                    li
                        a(href='https://massculture.ca/news') News & Oppourtunites
                    li  
                        a(href='https://massculture.ca/contact') Contact