header.main-header.content
    section#logo.logo-style
        h1.title 
            span.mass Mass 
            span.culture culture
        h1.title
            span.mass Mobilisation
            span.culture culturelle
    nav.main-nav#site-nav
        ul#nav-list.nav-list.text
            li
                a(href='index.html') Welcome
            li
                a(href='about.html') About
            li
                a(href='network.html') Network
            li
                a(href='gatherings.html') Gatherings
            li
                a(href='podcasts.html') Podcasts
            li
                a(href='news.html') News
            li
                a(href='contact.html') Contact