h2.network-title Our Expanding Network
ul#networkList.network-list
  li
    strong.nametag Micheline McKay
  li
    strong.nametag Virginia McKee
  li
    strong.nametag Douglas McLennan
  li
    strong.nametag Gil Meslin
    |   Research and Development Manager, Artscape
  li
    strong.nametag Catherine Mitchell
  li
    strong.nametag Aziza Mohammed
  li
    strong.nametag Janis Monture
    |   Director of Tourism & Cultural Initiatives, Six Nations of the Grand River Development Corporation
  li
    strong.nametag Erika Morey
  li
    strong.nametag Michael Murray
    |   Executive Director, Toronto Musicians’ Association, Local 149 CFM & AFM
  li
    strong.nametag Amy Mushinski
    |   Associate Director, Public Affairs, Ms
  li
    strong.nametag Susan Nagy
    |   Executive Director, Lakeshore Arts
  li
    strong.nametag Leslie Najgebauer
    |   Director of Development, Museum of Contemporary Art Toronto Canada
  li
    strong.nametag Lisa Ndejuru
  li
    strong.nametag Benedict Nguyen
  li
    strong.nametag Rebekah Noseworthy
  li
    strong.nametag Gaia Orion
  li
    strong.nametag Gail Packwood
    |   Executive Director, Associated Designers of Canada
  li
    strong.nametag Jean-François Packwood
    |   Directeur général, Conseil culturel et artistique francophone de la Colombie-Britannique
  li
    strong.nametag Maryse Paquin
    |   Professeure titulaire, Université du Québec à Trois-Rivières. Département d’études culturelles
  li
    strong.nametag June Park
    |   Mass Culture Digital Strategy Advisory and The English Language Arts Network (ELAN)
  li
    strong.nametag Rebecca Peirson
    |   Arts Management Program Coordinator, Centennial College
  li
    strong.nametag Christine Pellerin, 
    | Development Officer, Foundations, Toronto Symphony Orchestra
  li
    strong.nametag Ingrid Mary Percy
    |   President, CARFAC
  li
    strong.nametag Amanda Peters
  li
    strong.nametag Inga Petri
    |   Owner, Strategic Moves
  li
    strong.nametag Sergei Petrov
  li
    strong.nametag Deb Pickman
    |   Co-Artistic Director, shameless hussy productions
  li
    strong.nametag Bruce Pitkin
    |  Executive Director, Theatre Ontario
  li
    strong.nametag Samyuktha  Punthambekar
  li
    strong.nametag Wendy Reid
    |  Associate professor, Professeur aggrégée, HEC Montréal
  li
    strong.nametag Monique Renaud
  li
    strong.nametag Pru Robey
    |  President, Pru Robey Consulting
  li
    strong.nametag Guy Rodgers, 
    | Executive Director, The English Language Arts Network (ELAN)
  li
    strong.nametag Tamara Romanchuk
  li
    strong.nametag Jason Saulay
    |  Affinity Programs and Business Development, AFBS
  li
    strong.nametag Shahina Sayani
  li
    strong.nametag Laura Schembri
    |   Supervisor, Culture Services, Town of Newmarket
  li
    strong.nametag Meg Shannon
    |    Membership & Communications Manager, Professional Association of Canadian Theatres
  li
    strong.nametag Catherine Shepertycki
    |   Co-ordinator, Cultural Development and Initiatives, City of Ottawa
  li
    strong.nametag Mirette Shoeir
  li
    strong.nametag Roger Sinha
  li
    strong.nametag Charles Smith
    |   Executive Director of Cultural Pluralism in the Arts Movement Ontario (CPAMO)
  li
    strong.nametag Jerry Smith
  li
    strong.nametag Jim Smith
  li
    strong.nametag Robin Sokoloski
    |    Co-Founder of Mass Culture, Executive Director, Playwrights Guild of Canada
  li
    strong.nametag Jacinthe Soulliere
  li
    strong.nametag Jasmine Spei
  li
    strong.nametag Victoria Steele
    |   Executive Director, Directrice générale, Conseil des arts AOE Arts Council
  li
    strong.nametag Sylvie Stojanovski
  li
    strong.nametag Jini Stolk, 
    | Research fellow, Toronto Arts Foundation
  li
    strong.nametag William Straw
    |   Professor, McGill University
  li
    strong.nametag Robin Sutherland
    |   Founding Artistic Director, Thinking Rock Community Arts
  li
    strong.nametag Chuck Sutyla
    |   Cult
  li
    strong.nametag Andrea Switzer
  li
    strong.nametag Amy Terrill
    |  Executive Vice President, Music Canada
  li
    strong.nametag Martin Théberge
    |   Owner and consultant, Martin Theberge Consultant
  li
    strong.nametag Lidia Varbanova
  li
    strong.nametag Zainub Verjee
  li
    strong.nametag Michael Vickers
    |   Co-Director, Akin
  li
    strong.nametag Peter Vietgen
    |   President, Canadian Society for Education through Art
  li
    strong.nametag Samantha Wainberg
    |   Executive Director, York Region Arts Council
  li
    strong.nametag Kaitlin Wainwright
  li
    strong.nametag Mike Wallace
    |   Executive Director, Theatre Museum
  li
    strong.nametag Tim Whalley
  li
    strong.nametag Julie Whelan
    |   Senior Manager, Nordicity
  li
    strong.nametag Lucy White
    |   Lucy White Consulting
  li
    strong.nametag Charlie Wilson-Borella
  li
    strong.nametag Michael Wilson
    |   Coordinator – Professor, Imagination, Creativity and Innovation Cohort (ICI), Teacher Education, University of Ottawa
  li
    strong.nametag Clayton Windatt
    |   Co-Founder of Mass Culture, Executive Director, Aboriginal Curatorial Collective
  li
    strong.nametag Paulina Wiszowata
  li
    strong.nametag Erin Woods
  li
    strong.nametag Michelle Yeung
  li
    strong.nametag Joyce Zemans
  li
    strong.nametag Mona Afshari
    |   Marketing & Communications Manager, WorkInCulture
  li
    strong.nametag Jessa Agilo, 
    | President & CEO, ArtsPond/Étang d’Arts
  li
    strong.nametag Linda Albright
    |  Executive Director, Arts Network for Children and Youth
  li
    strong.nametag Nichole Anderson
    |   President & CEO, Business/Arts
  li
    strong.nametag Susan Annis
    |   Executive Director, Cultural Human Resources Council
  li
    strong.nametag Gideon Arthurs
    |   CEO, National Theatre School of Canada
  li
    strong.nametag Jean Assamoa
    |   Founder & Artistic Director, Akwaba Cultural exchange
  li
    strong.nametag Marnie Badham
    |   Vice Chancellor’s Post Doctoral Research Fellow, RMIT University
  li
    strong.nametag Janet Baker
    |   Artist, Cultural Planner and Arts Programmer, Janet Baker Art & Design
  li
    strong.nametag Ainslee Beer
    |   Banff Centre for Arts and Creativity
  li
    strong.nametag Steve Bellamy
    |   Dean, School of Creative and Performing Arts, Humber College – Centre for Creative Business Innovation
  li
    strong.nametag Anne Bertrand
    |    Director/trice, Artist-Run Centres and Collectives Conference / La conférence des collectifs et des centres d’artistes autogérés (aka ARCA)
  li
    strong.nametag Maegen Black
    |   Director, Canadian Crafts Federation / Fédération canadienne des métiers d’art
  li
    strong.nametag Mary Blackstone
  li
    strong.nametag Shannon Bowler
  li
    strong.nametag Seika Boye
    |   PhD
  li
    strong.nametag Boris Brott
    |  Artistic Director, National Academy Orchestra of Canada
  li
    strong.nametag Felicity Buckell
  li
    strong.nametag Jen Budney
  li
    strong.nametag Jonathan Bunce
    |   Artistic Director, Wavelength Music
  li
    strong.nametag Gregory Burbidge
    |   Research & Policy Specialist, Calgary Arts Development
  li
    strong.nametag Ruth Burns
    |  Executive Director, Ontario Culture DaysBrott Boris
  li
    strong.nametag Eva Cairns
  li
    strong.nametag Kayla Calder
    |   Development Manager, Writers’ Trust of Canada
  li
    strong.nametag Mariana Castellanos, 
    | PhD Student, École nationale d’administration publique
  li
    strong.nametag Katherine Carleton
    |   Executive Director, Orchestras Canada
  li
    strong.nametag Diana Carter
  li
    strong.nametag Brittney Cathcart
    |   Director of Development & Operations, Business / Arts
  li
    strong.nametag Kristian Clarke
    |   Co-Founder of Mass Culture, PhD candidate in Cultural Studies at Queen’s University
  li
    strong.nametag Patrick Close
  li
    strong.nametag Kate Cornell
    |   Co-Founder of Mass Culture, Executive Director, Canadian Dance Assembly and Co-chair of  the Canadian Arts Coalition
  li
    strong.nametag Sandy Crawley
  li
    strong.nametag Susan Crocker
  li
    strong.nametag Tim Crouch
  li
    strong.nametag Al Cushing
  li
    strong.nametag Stephen Davies
    |   Assistant Professor, OCAD University, Graduate School, Strategic Foresight and Innovation Program
  li
    strong.nametag Diane Davy
    |   Executive Director, WorkInCulture
  li
    strong.nametag Mila Dechef-Tweddle
  li
    strong.nametag John Degen
    |  Executive Director, The Writers’ Union of Canada
  li
    strong.nametag Elisha Denburg
  li
    strong.nametag Scott Dermody, 
    | Toronto Alliance for the Performing Arts (TAPA)
  li
    strong.nametag Monique Désormeaux
    |   Deputy CEO, Ottawa Public Library
  li
    strong.nametag Natalie Dewan
    |   Communications and Membership Services Coordinator, Ontario Presents
  li
    strong.nametag Sharon Diamond
    |   Development Officer, Ottawa Arts Council
  li
    strong.nametag Su Ditta
    |   Executive Director, Electric City Culture Council
  li
    strong.nametag Melinda Doherty Griffiths
  li
    strong.nametag Emma Doran
  li
    strong.nametag Tara Dorey
    |   Program Director, Mural Routes
  li
    strong.nametag Mike Douglas
    |   Executive Director, Mississauga Arts Council
  li
    strong.nametag Amanda Dyke
    |   Culture Officer, Development, City of Barrie
  li
    strong.nametag Gillian Dykeman, 
    | Executive Director, ArtsLink NB
  li
    strong.nametag Pamela Edmonds
    |   Curator, Thames Art Gallery
  li
    strong.nametag Kris Erickson
    |   Research Associate; Chair, Board of Directors, Ontario Centre for Workforce Innovation; MABELLEarts
  li
    strong.nametag Leah Faieta
    |   Leah Faieta Consulting
  li
    strong.nametag Robin Faye
  li
    strong.nametag Jennifer Faulkner
  li
    strong.nametag Melanie Fernandez
  li
    strong.nametag Lisa Fiorilli
  li
    strong.nametag Wendy Fitch
    |   Executive Director, Museums Association of Saskatchewan
  li
    strong.nametag Julie Fossitt
  li
    strong.nametag Liz Forsberg
  li
    strong.nametag Barbara Franchetto
  li
    strong.nametag Carly Frey
  li
    strong.nametag Anne Frost
  li
    strong.nametag Lowell Gasoi, 
    | Carleton University
  li
    strong.nametag Warren Garrett
    |  Executive Director, Ontario Presents
  li
    strong.nametag Dominique Giguere, 
    | Currents Group Inc.
  li
    strong.nametag Emily Gillespie
  li
    strong.nametag Claire Gillis
    |  Chief Business Affairs Officer, Access Copyright
  li
    strong.nametag Marnie Gladwell
    |  Executive Director, Saskatchewan Arts Alliance
  li
    strong.nametag Hana Glaser
  li
    strong.nametag Alex Glass
  li
    strong.nametag Lindsay Golds
    |   Executive Director, ArtsBuild Ontario
  li
    strong.nametag Diana Gore
    |   Kingston Arts Council
  li
    strong.nametag Jennifer Green, 
    | Philanthropy & Programs Director, Toronto Arts Foundation
  li
    strong.nametag Harman Grewal
  li
    strong.nametag Monika Hakala
    |   Ontario artsVest Program Manager, Business for the Arts
  li
    strong.nametag Sally Han
    |   Manager, Cultural Partnerships, City of Toronto
  li
    strong.nametag Amanda Hancox
    |   Executive Director, Dancer Transition Resource Centre
  li
    strong.nametag Zoe Harvey
  li
    strong.nametag Sherri Helwig
    |  Associate Professor, Teaching Stream – Arts Management, University of Toronto Scarborough
  li
    strong.nametag Maxine Heppner
    |   Artistic Director, Across Oceans Arts
  li
    strong.nametag Rhiannon Herbert
  li
    strong.nametag Stephen Hignell
    |   Cultural Sector Advisor, Nordicity
  li
    strong.nametag Kelly Hill
    |  President, Hill Strategies Research Inc.
  li
    strong.nametag Shana Hillman
    |  Operations Director, East End Arts
  li
    strong.nametag Rachel Hilton
    |   Deputy Director, Museum of Contemporary Art Toronto
  li
    strong.nametag Peter Honeywell
    |   Executive Director, Ottawa Arts Council
  li
    strong.nametag Richard Hornsby
  li
    strong.nametag Stephen Hurley
    |   Founder and Chief Catalyst, voicEd Radio (Canada)
  li
    strong.nametag Ellen S. Jaffe
  li
    strong.nametag Mark Jamison, 
    | President, envericom ltd.
  li
    strong.nametag M. Sharon Jeannotte
    |  Senior Fellow, Centre on Governance, University of Ottawa
  li
    strong.nametag Michael Johnston
  li
    strong.nametag Randy Joynt
  li
    strong.nametag Frédéric Julien, 
    | Director of Research and Development, CAPACOA
  li
    strong.nametag Maria Karam
  li
    strong.nametag Marta Keller-Hernandez
    |   Managing Director, Mural Routes, Programming Director Paralia Newcomer Arts Network
  li
    strong.nametag Heather Kelly
    |   Founder & CEO, HKC Marketing
  li
    strong.nametag Dave Kemp
    |  Assistant Professor, Ryerson University
  li
    strong.nametag Melanie Kloetzel
    |   Associate Professor – Dance, University of Calgary
  li
    strong.nametag Jacoba Knaapen
    |  Executive Director, Toronto Alliance for the Performing Arts – TAPA
  li
    strong.nametag Kenneth Kutz
  li
    strong.nametag Monica Lacey
    |  Program Coordinator, this town is small inc. – PEI’s artist run centre
  li
    strong.nametag Marie Lalonde
    |   Executive Director, Ontario Museum Association
  li
    strong.nametag Gilles Latour
  li
    strong.nametag Brenda Leadlay
  li
    strong.nametag Sally Lee
    |   Executive Director, CARFAC Ontario
  li
    strong.nametag Tammy Lee
  li
    strong.nametag Cliff Le Jeune
    |   Executive Director, Dance Nova Scotia
  li
    strong.nametag Gaëlle Lemasson
  li
    strong.nametag Jeanne LeSage
    |   Principal, LeSage Arts Management
  li
    strong.nametag Steven Levitan
  li
    strong.nametag Kallee Lins
  li
    strong.nametag Shannon Litzenberger
  li
    strong.nametag Sarah Lochhead
    |   Director, The Dance Current
  li
    strong.nametag Janis Luttrell
    |   Town of Newmarket
  li
    strong.nametag Amy MacDonald, 
    | Program Manager,  The English Language Arts Network (ELAN)
  li
    strong.nametag Bridget MacIntosh
  li
    strong.nametag Kenji Maeda
    |   Executive Director, Greater Vancouver Professional Theatre Alliance
  li
    strong.nametag Manon
    |   Communications et collaborations stratégiques, Fédération culturelle canadienne-française
  li
    strong.nametag Judith Marcuse
  li
    strong.nametag Michael Maranda
    |   assistant curator, Art Gallery of York University
  li
    strong.nametag Fanny Martin
    |  Creative Producer, Art of Festivals
  li
    strong.nametag Nicole Matiation
  li
    strong.nametag Erica Mattson
    |   Executive Director, BC Museums Association
  li
    strong.nametag Tara Mazurk
    |   Co-Founder of Mass Culture, Consultant, Cultural Industries with Global Public Affairs

















//- ul#netList.network-list
//-                 li 
//-                     span.nametag Annlaee Adair 
//-                     |Program manager, Cultural Human Resources Council
//-                 li
//-                     span.nametag Mona Afshari 
//-                     |Marketing & Communications Manager, WorkInCulture
//-                 li
//-                     span.nametag Jessa Agilo 
//-                     |President & CEO, ArtsPond/Étang d’Arts
//-                 li
//-                     span.nametag Linda Albright
//-                     |Executive Director, Arts Network for Children and Youth
//-                 li
//-                     span.nametag Nichole Anderson
//-                     |President & CEO, Business/Arts
//-                 li 
//-                     span.nametag Susan Annis 
//-                     |Executive Director, Cultural Human Resources Council
//-                 li
//-                     span.nametag Gideon Arthurs 
//-                     |CEO, National Theatre School of Canada
//-                 li
//-                     span.nametag Jean Assamoa
//-                     |Founder & Artistic Director, Akwaba Cultural exchange
//-                 li
//-                     span.nametag Marnie Badham
//-                     |Vice Chancellor’s Post Doctoral Research Fellow, RMIT University
//-                 li
//-                     span.nametag Janet Baker
//-                     |Artist, Cultural Planner and Arts Programmer, Janet Baker Art & Design
//-                 li
//-                     span.nametag Ainslee Beer
//-                     |Banff Centre for Arts and Creativity
//-                 li
//-                     span.nametag Steve Bellamy
//-                     |Dean, School of Creative and Performing Arts, Humber College – Centre for Creative Business Innovation
//-                 li
//-                     span.nametag Anne Bertrand
//-                     |Director/trice, Artist-Run Centres and Collectives Conference / La conférence des collectifs et des centres d’artistes autogérés (aka ARCA)
//-                 li
//-                     span.nametag Maegen Black
//-                     |Director, Canadian Crafts Federation / Fédération canadienne des métiers d’art
//-                 li
//-                     span.nametag Boris Brott
//-                     |Artistic Director, National Academy Orchestra of Canada
//-                 li
//-                     span.nametag Jonathan Bunce
//-                     |Artistic Director, Wavelength Music
//-                 li
//-                     span.nametag Gregory Burbidge
//-                     |Research & Policy Specialist, Calgary Arts Development
//-                 li
//-                     span.nametag Ruth Burns
//-                     |Executive Director, Ontario Culture Days
//-                 li
//-                     span.nametag Kayla Calder
//-                     |Development Manager, Writers’ Trust of Canada
//-                 li
//-                     span.nametag Mariana Castellanos
//-                     |PhD Student, École nationale d’administration publique
//-                 li
//-                     span.nametag Katherine Carleton 
//-                     |Executive Director, Orchestras Canada
//-                 li
//-                     span.nametag Brittney Cathcart
//-                     |Director of Development & Operations, Business / Arts
//-                 li
//-                     span.nametag Kristian Clarke
//-                     |Co-Founder of Mass Culture, PhD candidate in Cultural Studies at Queen’s University
//-                 li
//-                     span.nametag Kate Cornell
//-                     |Co-Founder of Mass Culture, Executive Director, Canadian Dance Assembly and Co-chair of  the Canadian Arts Coalition
//-                 li
//-                     span.nametag Stephen Davies
//-                     |Assistant Professor, OCAD University, Graduate School, Strategic Foresight and Innovation Program
//-                 li
//-                     span.nametag Diane Davy
//-                     |Executive Director, WorkInCulture
//-                 li
//-                     span.nametag John Degen
//-                     |Executive Director, The Writers’ Union of Canada
//-                 li
//-                     span.nametag Scott Dermody
//-                     |Toronto Alliance for the Performing Arts (TAPA)
//-                 li
//-                     span.nametag Monique Désormeaux
//-                     |Deputy CEO, Ottawa Public Library
//-                 li
//-                     span.nametag Natalie Dewan
//-                     |Communications and Membership Services Coordinator, Ontario Presents
//-                 li
//-                     span.nametag Sharon Diamond
//-                     |Development Officer, Ottawa Arts Council
//-                 li
//-                     span.nametag Su Ditta
//-                     |Executive Director, Electric City Culture Council
//-                 li
//-                     span.nametag Tara Dorey
//-                     |Program Director, Mural Routes
//-                 li
//-                     span.nametag Mike Douglas
//-                     |Executive Director, Mississauga Arts Council
//-                 li
//-                     span.nametag Stephanie Draker
//-                     |Work In Culture

//-                 li
//-                     span.nametag Amanda Dyke
//-                     |Culture Officer, Development, City of Barrie

//-                 li
//-                     span.nametag Gillian Dykeman
//-                     |Executive Director, ArtsLink NB

//-                 li
//-                     span.nametag Pamela Edmonds
//-                     |Curator, Thames Art Gallery

//-                 li
//-                     span.nametag Kris Erickson
//-                     |Research Associate; Chair, Board of Directors, Ontario Centre for Workforce Innovation; MABELLEarts

//-                 li
//-                     span.nametag Leah Faieta
//-                     |Leah Faieta Consulting

//-                 li
//-                     span.nametag Robin Faye

//-                 li
//-                     span.nametag Jennifer Faulkner

//-                 li
//-                     span.nametag Melanie Fernandez

//-                 li
//-                     span.nametag Lisa Fiorilli

//-                 li
//-                     span.nametag Wendy Fitch
//-                     |Executive Director, Museums Association of Saskatchewan

//-                 li
//-                     span.nametag Julie Fossitt

//-                 li
//-                     span.nametag Liz Forsberg

//-                 li
//-                     span.nametag Barbara Franchetto

//-                 li
//-                     span.nametag Carly Frey

//-                 li
//-                     span.nametag Anne Frost

//-                 li
//-                     span.nametag Lowell Gasoi
//-                     |Carleton University

//-                 li
//-                     span.nametag Warren Garrett
//-                     |Executive Director, Ontario Presents
//-                 li 
//-                     span.nametag Dominique Giguere
//-                     |Currents Group Inc.
//-                 li 
//-                     span.nametag Emily Gillespie

//-                 li 
//-                     span.nametag Claire Gillis
//-                     |Chief Business Affairs Officer, Access Copyright

//-                 li 
//-                     span.nametag Marnie Gladwell
//-                     |Executive Director, Saskatchewan Arts Alliance

//-                 li 
//-                     span.nametag Hana Glaser

//-                 li 
//-                     span.nametag Alex Glass

//-                 li 
//-                     span.nametag Lindsay Golds
//-                     |Executive Director, ArtsBuild Ontario

//-                 li 
//-                     span.nametag Diana Gore
//-                     |Kingston Arts Council

//-                 li 
//-                     span.nametag Jennifer Green
//-                     |Philanthropy & Programs Director, Toronto Arts Foundation

//-                 li 
//-                     span.nametag Harman Grewal

//-                 li 
//-                     span.nametag Monika Hakala
//-                     |Ontario artsVest Program Manager, Business for the Arts

//-                 li 
//-                     span.nametag Sally Han, Manager
//-                     |Cultural Partnerships, City of Toronto

//-                 li 
//-                     span.nametag Amanda Hancox
//-                     |Executive Director, Dancer Transition Resource Centre

//-                 li 
//-                     span.nametag Zoe Harvey

//-                 li 
//-                     span.nametag Sherri Helwig, Associate Professor, Teaching Stream – Arts Management, University of Toronto Scarborough

//-                 li 
//-                     span.nametag Maxine Heppner, Artistic Director, Across Oceans Arts

//-                 li 
//-                     span.nametag Rhiannon Herbert

//-                 li 
//-                     span.nametag Stephen Hignell, Cultural Sector Advisor, Nordicity

//-                 li 
//-                     span.nametag Kelly Hill, President, Hill Strategies Research Inc.

//-                 li 
//-                     span.nametag Shana Hillman, Operations Director, East End Arts

//-                 li 
//-                     span.nametag Rachel Hilton, Deputy Director, Museum of Contemporary Art Toronto

//-                 li 
//-                     span.nametag Peter Honeywell, Executive Director, Ottawa Arts Council

//-                 li 
//-                     span.nametag Richard Hornsby

//-                 li 
//-                     span.nametag Stephen Hurley, Founder and Chief Catalyst, voicEd Radio (Canada)

//-                 li 
//-                     span.nametag Ellen S. Jaffe

//-                 li 
//-                     span.nametag Mark Jamison, President, envericom ltd.

//-                 li 
//-                     span.nametag M. Sharon Jeannotte, Senior Fellow, Centre on Governance, University of Ottawa

//-                 li 
//-                     span.nametag Michael Johnston

//-                 li 
//-                     span.nametag Randy Joynt

//-                 li 
//-                     span.nametag Frédéric Julien, Director of Research and Development, CAPACOA

//-                 li 
//-                     span.nametag Maria Karam

//-                 li 
//-                     span.nametag Marta Keller-Hernandez, Managing Director, Mural Routes, Programming Director Paralia Newcomer Arts Network

//-                 li 
//-                     span.nametag Heather Kelly, Founder & CEO, HKC Marketing

//-                 li 
//-                     span.nametag Dave Kemp, Assistant Professor, Ryerson University

//-                 li 
//-                     span.nametag Melanie Kloetzel, Associate Professor – Dance, University of Calgary

//-                 li 
//-                     span.nametag Jacoba Knaapen, Executive Director, Toronto Alliance for the Performing Arts – TAPA

//-                 li 
//-                     span.nametag Kenneth Kutz

//-                 li 
//-                     span.nametag Monica Lacey, Program Coordinator, this town is small inc. – PEI’s artist run centre

//-                 li 
//-                     span.nametag Marie Lalonde, Executive Director, Ontario Museum Association

//-                 li 
//-                     span.nametag Gilles Latour

//-                 li
//-                     span.nametag Brenda Leadlay

//-                 li
//-                     span.nametag Sally Lee, Executive Director, CARFAC Ontario

//-                 li
//-                     span.nametag Tammy Lee

//-                 li
//-                     span.nametag Cliff Le Jeune, Executive Director, Dance Nova Scotia

//-                 li
//-                     span.nametag Gaëlle Lemasson

//-                 li
//-                     span.nametag Jeanne LeSage,  Principal, LeSage Arts Management

//-                 li
//-                     span.nametag Steven Levitan

//-                 li
//-                     span.nametag Kallee Lins

//-                 li
//-                     span.nametag Shannon Litzenberger

//-                 li
//-                     span.nametag Sarah Lochhead, Director, The Dance Current

//-                 li
//-                     span.nametag Janis Luttrell, Town of Newmarket

//-                 li
//-                     span.nametag Amy MacDonald, Program Manager,  The English Language Arts Network (ELAN)

//-                 li
//-                     span.nametag Bridget MacIntosh

//-                 li
//-                     span.nametag Kenji Maeda, Executive Director, Greater Vancouver Professional Theatre Alliance

//-                 li
//-                     span.nametag Manon, Communications et collaborations stratégiques, Fédération culturelle canadienne-française

//-                 li
//-                     span.nametag Judith Marcuse

//-                 li
//-                     span.nametag Michael Maranda, assistant curator, Art Gallery of York University

//-                 li
//-                     span.nametag Fanny Martin, Creative Producer, Art of Festivals

//-                 li
//-                     span.nametag Nicole Matiation

//-                 li
//-                     span.nametag Erica Mattson, Executive Director, BC Museums Association

//-                 li
//-                     span.nametag Tara Mazurk, Co-Founder of Mass Culture, Senior Consultant, Cultural Industries with Global Public Affairs

//- Mary Blackstone
//- Shannon Bowler
//- Seika Boye, PhD
//- Felicity Buckell
//- Jen Budney
//- Eva Cairns
//- Diana Carter
//- Patrick Close
//- Sandy Crawley
//- Susan Crocker
//- Tim Crouch
//- Al Cushing
//- Mila Dechef-Tweddle
//- Elisha Denburg
//- Melinda Doherty Griffiths
//- Emma Doran






