
a(href="#").subA Join the mass culture mailing list

form.subscribe-form
    input(type='text', name='field1', placeholder='Full Name')
    input(type='email', name='field2', placeholder='Email')
    input(type='text', name='field3', placeholder='Organisation')
    input(type='text', name='feild4', placeholder='Title')
    p would you like to publicly show your support?
    select.select-style
      option(value='yes') Yes, inlude my name
      option(value='yes2') Yes, include my name & organization
      option(value='no') No, thank you
    input(type='button', value='Send Message')
    

//- form#maillist.form-subscribe.hide(action="")
//-     .wrapper
//-         input(type="text" placeholder="fname")
//-         input(type="text" placeholder="lname")
//-         input(type="email" placeholder="email")|
//-         input(type="text" placeholder="organization")
//-         input(type="text" placeholder="title")
        
//-         select
//-             option(value='yes') Yes, inlude my name
//-             option(value='yes2') Yes, include my name & organization
//-             option(value='no') No, thank you
//-         button.subscribe Subscribe